body {
  margin: 0;
  padding: 0;
  background-color: #cbcbcb;
}

.todo-list {
  margin: 100px auto;
  width: 440px;
  padding: 5px 20px;
  border-radius: 7px;
  background-color: #fefefe;
}

.todo-list > h1 {
  margin-top: 32px;
  font-size: 22px;
}

.todo-list > .list-description {
  margin-bottom: 16px;
  font-size: 15px;
  font-style: italic;
  font-family: -webkit-pictograph, sans-serif;
}

#todo-value {
  width: 300px;
  height: 24px;
}

.add-item {
  width: 55px;
  height: 27px;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #f0979b;
}

.todo-list > ol {
  padding: 0 20px;
  font-size: 14px;
}

.todo-list > ol > li {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

li:nth-of-type(2n) {
  background-color: #f3ebeb;
}

.task-list > .done-item {
  text-decoration: line-through;
  color: #999999;
}

.sort-list {
  margin-top: 30px;
  text-align: center;
}

.sort-list > .sort-btn {
  margin: 0 10px;
  height: 26px;
  border: 1px solid #fefefe;
  color: #f0979b;
  font-size: 14px;
  outline: none;
}

.sort-btn:hover {
  border: 1px solid #f4ebeb;
  cursor: pointer;
}
